*,
*::after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html, body, .grid-container { min-height: 100vh; margin: 0;}

a {
	text-decoration: none;
	color:white;
}

    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

.title {
	color:white;
}

.grid-container * { 
 position: relative;
}


.grid-container *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 0.8fr 2fr 0.8fr;
  grid-template-rows: 0.2fr 2.2fr 0.4fr;
  grid-template-areas: "header header header header" 
		       "sidebar . content ." 
		       "sidebar footer footer footer";
}
.test {padding-bottom:10%;}
.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	height: 100%;
	background: #222222;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	min-width:150%!important;
	width: 150%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-container {
	position: relative;
	height: auto;
}

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


.st-menu-open .st-menu::after {
	width: 0;
	height: 0; 
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
	display: none;
}

.header { grid-area: header;background-color:#111111;}

.sidebar { grid-area: sidebar;overflow: visible;}

.content { grid-area: content;background-color:rgba(200,200,200,100);margin-top:15px;margin-bottom:15px;border-radius:10px;}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #388a5a;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: #2c774b;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none; 
}

footer {background-color:black;height:10%;width:100%;bottom:0;}

.news-main {
	margin:20px;
}

.card {
	background-color: grey;border-radius: 5px;padding-bottom:5px;margin-top:20px;
}

.card-header {
	background-color: #343434;color:white;
}

.card-date {
	display:inline-block;font-size:0.8em;color:white;text-align: right;
}

aside {
    display: block;
    position: relative;
   }

aside h4 {
     font: bold 12px Sans-Serif;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #fff;
     padding: 5px 10px;
     margin: 0 0 10px 0;
     line-height: 24px;
    }

	.csstransforms .cat-knowledge {
		border-left-color: #ffd001;
	}

	.csstransforms .cat-news {
		border-left-color: #369;
	}

    /* Class name via Modernizr */
    .csstransforms aside {
        border-left: 34px solid;
        padding-left: 10px;
    }



    .csstransforms aside h4 {

        /* Abs positioning makes it not take up vert space */
        position: absolute;
        top: 0;
        left: 0;

        /* Border is the new background */
        background: none;

        /* Rotate from top left corner (not default) */
        -webkit-transform-origin: 0 0;
        -moz-transform-origin:    0 0;
        -ms-transform-origin:     0 0;
        -o-transform-origin:      0 0;

        -webkit-transform: rotate(90deg);
        -moz-transform:    rotate(90deg);
        -ms-transform:     rotate(90deg);
        -o-transform:      rotate(90deg);
    }
