{% load i18n %} {% language 'fr' %}
<html>
<head>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Himeji</title>
	<meta name="keywords" content="informatique entraide astuces" />
    {% load static %}
    <link rel="stylesheet" href="{% static "/style.css" %}">
	<link rel="stylesheet" href="{% static "/normalize.css" %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet">
    <script src="{% static "/modernizr.js" %}"></script>
</head>

<body>

<div class="grid-container">
    <div class="header">
        <button data-effect="st-effect-1">Slide</button>
        <h1 class="title"><a href="{% url 'home' %}">Himeji</a></h1>
        <a style="float:right">fr</a>
    </div>

    <div id="st-container" class="st-container sidebar">

<nav class="st-menu st-effect-1" id="menu-1">
    <h2 class="icon icon-lab"></h2>
    <ul>
      <li><a href="{%  url 'news' %}">News</a></li>
      <li><a href="{%  url 'knowledge' %}">Savoir</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">CV</a></li>
      <li><a href="{%  url 'contact' %}">Contact</a></li>
    </ul>
  </nav>
</div>
<div class="content">
              {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
</div>
</div>
<footer></footer>

</body>
<script type="text/javascript">
var click = document.querySelectorAll('div button');
var menu = document.querySelector('#st-container');
var effect;
// adding a click event to all the buttons
for (var i = 0; i < click.length; i++) {
  click[i].addEventListener('click', addClass) }
function addClass(e) {
  effect = e.target.getAttribute('data-effect');
  menu.classList.toggle(effect);
  menu.classList.toggle('st-menu-open'); }


</script>
</html>


{% endlanguage %}